.userlogged-chat {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover {
    background-color: $secundaryColorHover;
    .userlogged-chat__username {
      color: $whiteColor !important;
    }
  }
  .userlogged-chat__image {
    border: 3px solid;
    border-radius: 100px;
  }
  .userlogged-chat__username {
    font-size: 16px;
    color: $textGrayColor;
  }
}
