.preview-container{
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 60px;
    margin-right: 50px;
    box-sizing: border-box;
    .preview-wrapper{
        position: absolute;
        width: 100%;
        left:0;
        bottom: 0px;
        margin: 0 50px;
        background-color: #2a2c37;
        .preview-image{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            margin: 20px;
            width: 200px;
            background-color: #1c1d22;
            .preview-image__image{
                height: 200px;
                width: 100px;
            }
            .preview-image__name{
                color: white;
            }
        }
    }
}