.chat-input {
  background-color: $primaryColor;
  height: 100%;
  padding: 0px 50px;
  max-height: 60px;
  position: relative;
  .chat-input-wrapper {
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: 50px;
    align-items: center;
    background-color: $secundaryColor;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    position: relative;
    .chat-input__tool {
      cursor: pointer;
      width: 25px;
      height: 25px;
    }
    .chat-input__tool--upload {
      display: none;
    }
    .chat-input__input {
      outline: none;
      border: none;
      background-color: transparent;
      color: $whiteColor;
      &::placeholder {
        color: $textGrayColor;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .chat-input {
    padding: 0px 20px;
    padding-bottom: 5px;
  }
}
