.chat-input {
  background-color: $primaryColor;
  height: 100%;
  padding: 0px 50px;
  padding-bottom: 10px;
  max-height: 50px;
  .chat-input-wrapper {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 50px;
    align-items: center;
    background-color: $secundaryColor;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    position: relative;
    .chat-input__tool {
      cursor: pointer;
    }
    .chat-input__input {
      outline: none;
      border: none;
      background-color: transparent;
      color: $whiteColor;
      &::placeholder {
        color: $textGrayColor;
      }
    }
  }
}
