.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $primaryColor;
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $whiteColor;
    .home__logo {
      width: 100px;
      height: auto;
    }
    .home__title {
      font-size: 20px;
      font-weight: 900;
    }
    .home__description {
      font-size: 16px;
    }
  }
  .button-container {
    .view-repository {
      background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
      background-size: 100%;
      background-position: 0;
      border-radius: 10px;
      border: none;
      color: $whiteColor;
      padding: 15px;
      font-family: $fontFamily;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.25s;
      box-shadow: 0 1px 10px 0 $purpleColor;
      background-repeat: no-repeat;
      background-color: $purpleColor;
      &:hover {
        background-position: -200px;
        box-shadow: 0 5px 20px 0 $purpleColor;
        color: $whiteColor;
      }
    }
  }
}
