.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $primaryColor;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: $whiteColor;
    width: 100%;
    max-width: 300px;
    height: max-content;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;
      .content__image {
        width: 100%;
        max-width: 200px;
        height: 25vh;
        max-height: 179px;
        margin-bottom: 20px;
      }
      .content__title {
        color: $textWhiteColor;
        font-weight: 500;
        letter-spacing: 0.5px;
        @include fluid-type(font-size, 600px, 1200px, 30px, 40px);
        font-weight: 900;
        line-height: 2;
        margin: 0;
      }
      .content__description {
        text-align: center;
        @include fluid-type(font-size, 600px, 1200px, 14px, 16px);
      }
    }
  }
}

@media screen and (max-height: 636px) {
  .login {
    .content {
      .header {
        .content__title {
          font-size: clamp(16px, 30px, 5vmin);
        }
        .content__description {
          font-size: clamp(12px, 16px, 2vmin);
        }
      }
    }
  }
}
