.group-members {
  width: 250px;
  height: 100%;
  background-color: $secundaryColor;
  color: $whiteColor;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  &.expanded {
    display: inline-block;
    position: fixed;
    right: 0;
  }
  .status-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .status {
      .status__title {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .group-members {
    display: none;
    &.expanded {
      top: 0;
    }
  }
}
