.button {
  background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
  background-size: 100%;
  background-position: 0;
  border-radius: 10px;
  border: none;
  color: $whiteColor;
  padding: 15px;
  font-family: $fontFamily;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 1px 10px 0 $purpleColor;
  background-repeat: no-repeat;
  background-color: $purpleColor;
  &:hover {
    background-position: -200px;
  }
}
