.emoji-picker-react {
  position: absolute !important;
  right: 0px;
  bottom: 55px;
  box-shadow: none !important;
  border: none !important;
  border-radius: 10px !important;
  color: $whiteColor !important;
  background-color: $primaryColor;
  & .emoji-group::before {
    background-color: white;
  }
  .emoji-categories {
    align-items: center;
    & button {
      background-color: $pinkColor;
      border-radius: 20px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .active-category-indicator-wrapper {
    .active-category-indicator {
      background-color: $purpleColor;
    }
  }
  .content-wrapper-epr {
    .emoji-scroll-wrapper {
      padding: 0 20px;
      box-sizing: border-box;
      .emoji-group {
        &::before {
          background-color: $primaryColorLight;
        }
        .emoji {
          button {
            &:hover {
              background-color: $pinkColor;
            }
          }
        }
      }
    }
  }
  .emoji-search {
    background-color: $primaryColorLight;
    color: $whiteColor;
  }
  & > * {
    background-color: $primaryColorLight !important;
  }
}
