.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .form__label {
    }
    .form__input {
      height: 30px;
      border-radius: 10px;
      border: none;
      background-color: $secundaryColorHover;
      color: $textGrayColor;
      padding: 10px 15px 10px;
      &:focus {
        outline: 1px solid $pinkColor;
      }
    }
  }
  .not-registered {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .form__register-text {
    }
  }
  .form__submit {
    background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
    background-size: 100%;
    background-position: 0;
    border-radius: 10px;
    border: none;
    color: $whiteColor;
    padding: 15px;
    font-family: $fontFamily;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s;
    box-shadow: 0 1px 10px 0 $purpleColor;
    background-repeat: no-repeat;
    background-color: $purpleColor;
    width: 100%;
    &:hover {
      background-position: -200px;
    }
  }
}
