.error {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: max-content;
  padding: 20px;
  box-sizing: border-box;
  color: $whiteColor;
  border: 2px solid $primaryColorLight;
  border-radius: 10px;
  animation: appear 1s, disappear 1s linear 9.5s;
  .error__icon {
    width: 30px;
    height: 30px;
  }
  .error__icon--danger {
  }
  .error-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 170px;
    height: 100%;
    .error-message__title {
      font-size: 16px;
      font-weight: 600;
    }
    .error-message__description {
      word-wrap: break-word;
    }
  }
  .error__icon--close {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}

@keyframes appear {
  0% {
    right: -1000px;
  }
  100% {
    right: 20px;
  }
}

@keyframes disappear {
  0% {
    right: 20px;
  }
  100% {
    right: -2000px;
  }
}
