.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: $primaryColor;
  color: $whiteColor;
  .not-found__title {
    text-align: center;
  }
  .not-found__button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include gradient-button;
    max-width: 200px;
    text-decoration: none;
  }
}
