.emojis-container {
  position: absolute;
  right: 0px;
  bottom: 55px;
  border-radius: 10px;
  color: $whiteColor;
  background-color: $primaryColor;
  width: 100%;
  max-width: 500px;
  height: 350px;
  border: 1px solid $whiteColor;
  .emojis-wrapper {
    height: 100%;
    .emojis-search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0 20px;
      background-color: $secundaryColor;
      box-sizing: border-box;
      border-radius: 10px;
      .emojis-search-wrapper {
        width: 100%;
        position: relative;
        .emojis-search__input {
          width: 100%;
          background-color: $primaryColor;
          color: $whiteColor;
          border: none;
          height: 30px;
          padding-left: 10px;
          box-sizing: border-box;
          &:focus {
            outline: 1px solid $pinkColor;
            border-radius: 5px;
          }
        }
        .emojis-search__icon {
          position: absolute;
          right: 10px;
          top: 25%;
          width: 15px;
          height: 15px;
          filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%)
            contrast(106%);
          &--close {
            position: absolute;
            right: 10px;
            top: 25%;
            width: 15px;
            height: 15px;
            filter: none;
            cursor: pointer;
          }
        }
      }
    }
    .emojis-list {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      height: 100%;
      overflow-y: scroll;
      padding: 20px;
      box-sizing: border-box;
      .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .emojis-footer {
      display: flex;
      align-items: center;
      background-color: $secundaryColor;
      height: 50px;
      padding: 0 20px;
      box-sizing: border-box;
      border-radius: 10px;
      .categories-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        height: 100%;
        .category {
          width: max-content;
          height: 20px;
          &.active {
            filter: invert(39%) sepia(56%) saturate(897%) hue-rotate(232deg) brightness(89%)
              contrast(91%);
            transition: none;
          }
          .category__button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
            width: 100%;
            margin: 0;
            height: 20px;
            .category__icon {
              width: 40px;
              height: 20px;
              filter: invert(54%) sepia(70%) saturate(4588%) hue-rotate(282deg) brightness(94%)
                contrast(84%);
              transition: all 0.25s;
              &:hover {
                filter: invert(39%) sepia(56%) saturate(897%) hue-rotate(232deg) brightness(89%)
                  contrast(91%);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 904px) {
  .emojis-container {
    height: 370px;
    .emojis-wrapper {
      .emojis-footer {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        height: 70px;
      }
    }
  }
}
