$fontFamily: "Inter";

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}
