$primaryColor: #1c1d22;
$primaryColorDark: #22252c;
$primaryColorLight: #333641;
$secundaryColor: #2a2c37;
$secundaryColorHover: #323346;
$tertiaryColor: #fea04f;
$textWhiteColor: #e7ecf7;
$textGrayColor: #8e9297;
$greenColor: #3a905c;
$pinkColor: #dd4ec6;
$purpleColor: #8d4fc9;
$whiteColor: #ffffff;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
