.friends {
  width: 100vw;
  max-width: 250px;
  min-width: 200px;
  background-color: $secundaryColor;
  padding-left: 20px;
  box-sizing: border-box;
  color: $whiteColor;
  .friends-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
