.account-question {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .account-question__link {
    text-decoration: none;
    color: $pinkColor;
    &:hover {
      text-decoration: underline;
    }
  }
}
