.chat-index {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  .chat-index-wrapper {
    display: flex;
    width: 100%;
    max-width: 320px;
    &.disabled {
      display: none;
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

@media screen and (max-width: 550px) {
  .chat-index {
    .chat-index-wrapper {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .chat-index {
    .chat-index-wrapper {
      .sidebar {
        max-width: 250px;
      }
    }
  }
}
