.user-quick-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 65px;
  background-color: $primaryColor;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  .close-session {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    &:hover {
      background-color: $pinkColor;
    }
    .close-session__text {
      color: $whiteColor;
    }
  }
}
