.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  background-color: $primaryColorDark;
  padding-top: 10px;
  .groups-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .add-group {
    background-color: $primaryColorDark;
    border: none;
    cursor: pointer;
    .add-group__icon {
      filter: $pinkFilter;
    }
  }
}
