.groups {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 70px;
  background-color: $primaryColorDark;
  padding-top: 10px;
  .groups-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    // width: 100%;
    .group__image {
      width: 50px;
      height: 50px;
    }
  }
}
