$primaryColor: #1c1d22;
$primaryColorDark: #22252c;
$primaryColorLight: #333641;
$secundaryColor: #2a2c37;
$secundaryColorHover: #323346;
$tertiaryColor: #fea04f;
$textWhiteColor: #e7ecf7;
$textGrayColor: #8e9297;
$greenColor: #3a905c;
$pinkColor: #dd4ec6;
$purpleColor: #8d4fc9;
$whiteColor: #ffffff;

@mixin gradient-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
  background-size: 100%;
  background-position: 0;
  border-radius: 10px;
  border: none;
  color: $whiteColor;
  font-family: $fontFamily;
  font-size: clamp(12px, 16px, 5vmin);
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 1px 10px 0 $purpleColor;
  background-repeat: no-repeat;
  background-color: $purpleColor;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  &:hover {
    background-position: -200px;
    box-shadow: 0 0px 15px 2px $purpleColor;
  }
  &.disabled {
    background: $secundaryColor;
    box-shadow: none;
    cursor: not-allowed;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
