@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}
html {
  box-sizing: border-box;
  height: 100vh;
}
html*,
html *::before,
html *::after {
  box-sizing: inherit;
}
html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
}
html body #root {
  height: 100%;
}
html body #root .App {
  position: relative;
}
html body #root .App * p,
html body #root .App ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-index {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #1c1d22;
}
.register .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #ffffff;
  width: 100%;
  max-width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.register .content .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.register .content .header .content__image {
  width: 100%;
  max-width: 200px;
  height: 100%;
  margin-bottom: 20px;
}
.register .content .header .content__title {
  color: #e7ecf7;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 900;
  line-height: 2;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .register .content .header .content__title {
    font-size: calc(30px + 10 * (100vw - 600px) / 600);
  }
}
@media screen and (min-width: 1200px) {
  .register .content .header .content__title {
    font-size: 40px;
  }
}
.register .content .header .content__description {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  .register .content .header .content__description {
    font-size: calc(14px + 2 * (100vw - 600px) / 600);
  }
}
@media screen and (min-width: 1200px) {
  .register .content .header .content__description {
    font-size: 16px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1c1d22;
  color: #ffffff;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #1c1d22;
}
.login .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #ffffff;
  width: 100%;
  max-width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.login .content .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.login .content .header .content__image {
  width: 100%;
  max-width: 200px;
  height: 100%;
  margin-bottom: 20px;
}
.login .content .header .content__title {
  color: #e7ecf7;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 900;
  line-height: 2;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .login .content .header .content__title {
    font-size: calc(30px + 10 * (100vw - 600px) / 600);
  }
}
@media screen and (min-width: 1200px) {
  .login .content .header .content__title {
    font-size: 40px;
  }
}
.login .content .header .content__description {
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  .login .content .header .content__description {
    font-size: calc(14px + 2 * (100vw - 600px) / 600);
  }
}
@media screen and (min-width: 1200px) {
  .login .content .header .content__description {
    font-size: 16px;
  }
}

.account-question {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.account-question .account-question__link {
  text-decoration: none;
  color: #dd4ec6;
}
.account-question .account-question__link:hover {
  text-decoration: underline;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group .form__label {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  .form-group .form__label {
    font-size: calc(12px + 2 * (100vw - 600px) / 600);
  }
}
@media screen and (min-width: 1200px) {
  .form-group .form__label {
    font-size: 14px;
  }
}
.form-group .form__input {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #323346;
  color: #8e9297;
  padding: 10px 15px 10px;
}
.form-group .form__input:focus {
  outline: 1px solid #dd4ec6;
}

.view-repository {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #ffffff;
}
.view-repository:hover {
  color: #dd4ec6;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  max-height: 60px;
  background-color: #2a2c37;
  padding: 10px 20px;
  box-sizing: border-box;
}
.chat-header .header__image {
  width: 30px;
  height: 30px;
}
.chat-header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chat-header .right .header__username {
  color: #ffffff;
  font-size: 16px;
}
.chat-header .right .header__options {
  width: 25px;
  height: 25px;
}

.error {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
  border: 2px solid #333641;
  border-radius: 10px;
  -webkit-animation: appear 1s, disappear 1s linear 9.5s;
          animation: appear 1s, disappear 1s linear 9.5s;
}
.error .error__icon {
  width: 30px;
  height: 30px;
}
.error .error-message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 170px;
  height: 100%;
}
.error .error-message .error-message__title {
  font-size: 16px;
  font-weight: 600;
}
.error .error-message .error-message__description {
  word-wrap: break-word;
}
.error .error__icon--close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@-webkit-keyframes appear {
  0% {
    right: -1000px;
  }
  100% {
    right: 20px;
  }
}

@keyframes appear {
  0% {
    right: -1000px;
  }
  100% {
    right: 20px;
  }
}
@-webkit-keyframes disappear {
  0% {
    right: 20px;
  }
  100% {
    right: -2000px;
  }
}
@keyframes disappear {
  0% {
    right: 20px;
  }
  100% {
    right: -2000px;
  }
}
.chat-input {
  background-color: #1c1d22;
  height: 100%;
  padding: 0px 50px;
  padding-bottom: 10px;
  max-height: 50px;
}
.chat-input .chat-input-wrapper {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: 50px;
  align-items: center;
  background-color: #2a2c37;
  border-radius: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
}
.chat-input .chat-input-wrapper .chat-input__tool {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.chat-input .chat-input-wrapper .chat-input__input {
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
}
.chat-input .chat-input-wrapper .chat-input__input::-moz-placeholder {
  color: #8e9297;
}
.chat-input .chat-input-wrapper .chat-input__input:-ms-input-placeholder {
  color: #8e9297;
}
.chat-input .chat-input-wrapper .chat-input__input::placeholder {
  color: #8e9297;
}

@media screen and (max-width: 600px) {
  .chat-input {
    padding: 0px 20px;
    padding-bottom: 5px;
  }
}
.friends {
  width: 100vw;
  max-width: 250px;
  min-width: 200px;
  background-color: #2a2c37;
  padding-left: 20px;
  box-sizing: border-box;
  color: #ffffff;
}
.friends .friends-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groups {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 70px;
  min-width: 70px;
  background-color: #22252c;
  padding-top: 10px;
}
.groups .groups-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
  background-size: 100%;
  background-position: 0;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 15px;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 1px 10px 0 #8d4fc9;
  background-repeat: no-repeat;
  background-color: #8d4fc9;
}
.button:hover {
  background-position: -200px;
  box-shadow: 0 5px 20px 0 #8d4fc9;
}

.chat-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100%;
  transition: all 2s;
}
.chat-container.expanded {
  position: fixed;
}

.chat {
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: aqua;
  position: relative;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form .form__submit {
  background: linear-gradient(93.07deg, #dd4ec6 0%, #8d4fc9 100%);
  background-size: 100%;
  background-position: 0;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 15px;
  font-family: "Inter";
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 1px 10px 0 #8d4fc9;
  background-repeat: no-repeat;
  background-color: #8d4fc9;
  width: 100%;
  margin-top: 15px;
}
.form .form__submit:hover {
  background-position: -200px;
  box-shadow: 0 0px 15px 2px #8d4fc9;
}

.messages {
  width: 100%;
  height: 100%;
  background-color: #1c1d22;
  padding: 20px 50px;
  padding-right: 33px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.messages .messages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 600px) {
  .messages {
    padding: 20px 20px;
    padding-bottom: 5px;
  }
}
.message-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
}
.message-container.right {
  display: flex;
  flex-direction: row-reverse;
}
.message-container.right .message {
  background-color: #323346;
}
.message-container.right .message .message__hour {
  color: #8e9297;
}
.message-container .message {
  background-color: #333641;
  color: #ffffff;
  padding: 5px 10px;
  padding-right: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  max-width: 30%;
  border-radius: 10px;
}
.message-container .message .message__text {
  font-size: 16px;
}
.message-container .message .message__hour {
  font-size: 10px;
  color: #8e9297;
  position: absolute;
  right: 10px;
  bottom: 4px;
}

@media screen and (max-width: 600px) {
  .message-container .message {
    max-width: 70%;
  }
  .message-container .message .message__text {
    font-size: 15px;
  }
  .message-container .message .message__hour {
    font-size: 10px;
  }
}
.group__image {
  width: 50px;
  height: 50px;
}

.friend {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.friend:hover {
  background-color: #323346;
}
.friend:hover .friend__username {
  color: #ffffff !important;
}
.friend .friend__image {
  border: 3px solid;
  border-radius: 100px;
}
.friend .friend__username {
  font-size: 16px;
  color: #8e9297;
}

.emoji-picker-react {
  position: absolute !important;
  right: 0px;
  bottom: 55px;
  box-shadow: none !important;
  border: none !important;
  border-radius: 10px !important;
  color: #ffffff !important;
  background-color: #1c1d22;
}
.emoji-picker-react .emoji-group::before {
  background-color: white;
}
.emoji-picker-react .emoji-categories {
  align-items: center;
}
.emoji-picker-react .emoji-categories button {
  background-color: #dd4ec6;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.emoji-picker-react .active-category-indicator-wrapper .active-category-indicator {
  background-color: #8d4fc9;
}
.emoji-picker-react .content-wrapper-epr .emoji-scroll-wrapper {
  padding: 0 20px;
  box-sizing: border-box;
}
.emoji-picker-react .content-wrapper-epr .emoji-scroll-wrapper .emoji-group::before {
  background-color: #333641;
}
.emoji-picker-react .content-wrapper-epr .emoji-scroll-wrapper .emoji-group .emoji button:hover {
  background-color: #dd4ec6;
}
.emoji-picker-react .emoji-search {
  background-color: #333641;
  color: #ffffff;
}
.emoji-picker-react > * {
  background-color: #333641 !important;
}/*# sourceMappingURL=index.css.map */