@import "./fonts";
@import "./variables";

html {
  box-sizing: border-box;
  height: 100vh;
  &*,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    font-family: $fontFamily;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    #root {
      height: 100%;
      .App {
        position: relative;
        & * p,
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

//sections
@import "../sections/ChatIndex/chatIndex";
@import "../sections/Register/register";
@import "../sections/NotFound/notFound";
@import "../sections/Login/login";
@import "../sections/Home/home";

//components
@import "../components/AccountQuestion/accountQuestion";
@import "../components/FormGroupInput/formGroupInput";
@import "../components/ViewRepository/viewRepository";
@import "../components/ChatInfoHeader/chatInfoHeader";
@import "../components/AlertMessage/alertMessage";
@import "../components/ChatInput/chatInput";
@import "../components/Friends/friends";
@import "../components/Groups/groups";
@import "../components/Button/button";
@import "../components/Chat/chat";
@import "../components/Form/form";
@import "../components/Messages/messages";
@import "../components/Message/message";
@import "../components/Group/group";
@import "../components/Friend/friend";
@import "../components/EmojisPicker/emojisPicker";
@import "../components/GoHome/goHome";
