.message-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
  &.right {
    display: flex;
    flex-direction: row-reverse;
    .message {
      background-color: $secundaryColorHover;
      .message__hour {
        color: $textGrayColor;
      }
    }
  }
  &.active {
    background-color: $pinkColor;
    border-radius: 5px 10px 10px 5px;
    animation: 1s linear 2s disappear;
  }
  .message {
    background-color: $primaryColorLight;
    color: $whiteColor;
    padding: 5px 10px;
    width: fit-content;
    position: relative;
    max-width: 30%;
    border-radius: 10px;
    height: 100%;
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      width: 100%;
      max-width: 500px;
      .message__image {
        width: 100%;
        object-fit: contain;
      }
    }
    .message-wrapper {
      padding-right: 60px;
      .message__text {
        font-size: 16px;
        height: 100%;
        word-wrap: break-word;
        width: 100%;
      }
      .message__hour {
        font-size: 10px;
        color: $textGrayColor;
        position: absolute;
        right: 8px;
        bottom: 4px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .message-container {
    .message {
      max-width: 70%;
      .message__text {
        font-size: 15px;
      }
      .message__hour {
        font-size: 10px;
      }
    }
  }
}

@keyframes disappear {
  0% {
    background-color: $pinkColor;
  }
  100% {
    background-color: transparent;
  }
}
